body {
  background: url(../images/background.png) no-repeat center center fixed;
  background-size: cover;
  height:100vh;

}

div.filter {
  background-color: rgba(255, 255, 255, 0.2);
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}

div.grid {
  width: 630px;
  height: 630px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .4);
  border-radius: 5px;
  backdrop-filter: blur(5px);
  padding: 10px;
  border: 2px solid white;

}

div.grid-square {
  width: 80px;
  height: 80px;
  margin: 5px;
}

div.grid-circle {
  width: 80px;
  height: 80px;
  box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 1);
  border-radius: 40px;
  border: 2px solid white;
}

div.grid-circle-highlighted {
  box-shadow: 0 0 1rem 0 yellow;
  border: 3px solid yellow;
}

div.grid-choice-circle {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: yellow;
}

div.spongebob {
  background-image: url('../images/spongebob.png');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 1);
  border-radius: 40px;
  border: 2px solid white;
}

div.squidward {
  background-image: url('../images/squidward.png');
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 1);
  border-radius: 40px;
  border: 2px solid white;
}

div.winning-circles {
  background-color: yellow;
}

div.loosing-circles {
  background-color: red;
}
