body {
  background: url(../images/background.png) no-repeat center center fixed;
  background-size: cover;
}

div.filter {
  background-color: rgba(255, 255, 255, 0.2);
  height:100vh;
}

nav {
  align-self: baseline;
  height: 18vh;
  display:flex;
  justify-content: space-around;
  margin-left: -50px;
}

#score-board {
  display:flex;
  margin-top: 40px;
  visibility: hidden;
}

.score {
  text-align: center;
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 40px;
  line-height: 40px;
  margin: 10px 30px;
  text-shadow: 2px 2px 20px blue;
  color: white;
}

img {
  height:50px;
}

h1 {
  text-align: center;
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 80px;
  color:yellow;
  text-shadow: 5px 5px 10px #997d0f;
  margin-top: 5px;
  margin-left: -130px;
}

h2 {
  text-align: center;
  font-family: 'Dokdo', cursive;
  font-size: 50px;
  text-transform: uppercase;
  color:white;
  text-shadow: 10px 10px 30px blue;
  -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
  margin-top: -90px;
  margin-left: 100px;
}

#reset-button {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .4);
  font-family: 'East Sea Dokdo', cursive;
  font-size: 30px;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 30px;
  color: rgba(6 ,188 ,251);
  visibility: hidden;
}

#reset-button:hover {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 2rem 0 rgba(255, 255, 255, .2);
}

main {
  display:flex;
  justify-content: center;
  align-items: center;
}

div.grid {
  width: 630px;
  height: 630px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .4);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  padding: 10px;
  /* border: 3px solid white; */

  background-color: rgba(6 ,188 ,251 , 0.5);
  background-image: -webkit-linear-gradient(bottom right, rgba(6 ,188 ,251 , 0.5) 0%, rgb(103, 158, 247, 0.6) 64%);
  background-image: -o-linear-gradient(bottom right, rgba(6 ,188 ,251 , 0.5) 0%, rgb(103, 158, 247 , 0.6) 64%);
  background-image: linear-gradient(to top left, rgba(6 ,188 ,251 , 0.5) 0%, rgb(103, 158, 247 , 0.6) 64%);
}

h3 {
  text-align: center;
  font-family: 'East Sea Dokdo', cursive;
  font-size: 70px;
  color:white;
  margin: 10px 0px;
}

p {
  text-align: center;
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 20px;
  line-height: 40px;
  margin: 10px 50px;
  text-shadow: 2px 2px 20px blue;
  color: white;
}

#start-button {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .4);
  font-family: 'East Sea Dokdo', cursive;
  font-size: 50px;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 30px;
  color: rgba(6 ,188 ,251);
}

#start-button:hover {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 2rem 0 rgba(255, 255, 255, .2);
}

div.grid-square {
  width: 80px;
  height: 80px;
  margin: 5px;
  display: none;
}

div.grid-circle {
  width: 80px;
  height: 80px;
  box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 1);
  border-radius: 40px;
  border: 2px solid white;
  display: none;
}

div.grid-circle-highlighted {
  box-shadow: 0 0 1rem 0 yellow;
  border: 3px solid yellow;
}

div.grid-choice-circle {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: yellow;
}

div.spongebob {
  background-image: url('../images/spongebob.png');
  background-color: rgba(255, 255, 255, 0.5);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 1);
  border-radius: 40px;
  border: 2px solid white;
}

div.squidward {
  background-image: url('../images/squidward.png');
  background-color: rgba(255, 255, 255, 0.5);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 1);
  border-radius: 40px;
  border: 2px solid white;
}

div.winning-circles {
  background-color: yellow;
}

div.loosing-circles {
  background-color: red;
}
