body {
  background: url(../images/background.png) no-repeat center center fixed;
  background-size: cover;
}

div.filter {
  background-color: rgba(255, 255, 255, 0.2);
  height:100vh;
}

nav {
  align-self: baseline;
  height: 18vh;
}

h1 {
  text-align: center;
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 80px;
  color:yellow;
  text-shadow: 5px 5px 10px #997d0f;
  margin-top: 5px;
}

h2 {
  text-align: center;
  font-family: 'Dokdo', cursive;
  font-size: 50px;
  text-transform: uppercase;
  color:white;
  text-shadow: 10px 10px 30px blue;
  -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
  margin-top: -90px;
  margin-left: 150px;
}

main {
  display:flex;
  justify-content: center;
  align-items: center;
}

div.grid {
  width: 630px;
  height: 630px;
  display: flex;
  flex-wrap: wrap;
  /* background-color: rgba(255, 255, 255, 0.2); */
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .4);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  padding: 10px;
  /* border: 3px solid white; */

  background-color: rgba(6 ,188 ,251 , 0.2);
  background-image: -webkit-linear-gradient(bottom right, rgba(6 ,188 ,251 , 0.4) 0%, rgb(103, 158, 247, 0.4) 64%);
  background-image: -o-linear-gradient(bottom right, rgba(6 ,188 ,251 , 0.4) 0%, rgb(103, 158, 247 , 0.4) 64%);
  background-image: linear-gradient(to top left, rgba(6 ,188 ,251 , 0.4) 0%, rgb(103, 158, 247 , 0.4) 64%);
}

/* h3 {
  text-align: center;
  font-family: 'East Sea Dokdo', cursive;
  font-size: 100px;
  color:white;
} */

div.grid-square {
  width: 80px;
  height: 80px;
  margin: 5px;
  /* display: none; */
}

div.grid-circle {
  width: 80px;
  height: 80px;
  box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 1);
  border-radius: 40px;
  border: 2px solid white;
  /* display: none; */
}

div.grid-circle-highlighted {
  box-shadow: 0 0 1rem 0 yellow;
  border: 3px solid yellow;
}

div.grid-choice-circle {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: yellow;
}

div.spongebob {
  background-image: url('../images/spongebob.png');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 1);
  border-radius: 40px;
  border: 2px solid white;
}

div.squidward {
  background-image: url('../images/squidward.png');
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 1);
  border-radius: 40px;
  border: 2px solid white;
}

div.winning-circles {
  background-color: yellow;
}

div.loosing-circles {
  background-color: red;
}
